<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARAmcYymRn_HBF4jh5uYKSsFoY93V1MTA</string>
	<key>GCM_SENDER_ID</key>
	<string>980364977663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.act1</string>
	<key>PROJECT_ID</key>
	<string>inventory-app-lunadasilva</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-app-lunadasilva.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980364977663:ios:cd162cdad4ce558c1573ca</string>
</dict>
</plist>